* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color:#fff;
} 

.container .days-of-year {
    position: absolute;
    font-size: 16px;
    cursor: default;
    transform-origin: center left;
    font-weight: 400;
    color: rgb(73, 73, 73);
}

.days-of-year:hover {
    color: #000;
}

.days-of-year:before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #000;
    position: absolute;
    margin-left: -24px;
    margin-top: 4px;
}

.year-wrapper {
    font-size: 200px;
    position: absolute;
    font-weight: 100;
    transform: translateX(-200px) translateY(-150px);
}

.today-wrapper {
    position: absolute;
    font-weight: 300;
}

.is-today {
    color: #000 !important;
    font-size: 16px !important;
    transform-origin: top left !important;
}

.is-today:before {
    background-color: coral;
    height: 2px;
}

.is-past {
    color: rgb(187, 187, 187) !important;
}

.is-past:before {
    background-color: #ddd;
}

.month {
    position: absolute;
    font-size: 10px;
    cursor: default;
    transform-origin: center left;
    font-weight: 400;
    color: rgb(73, 73, 73);
    text-transform: uppercase;
}