:root {
    --bg-color: #fff;
    --font-color: #000;
    --days-color: rgb(73, 73, 73);
    --days-past: rgb(211, 211, 211);
    --today-color: coral;
  }
  
  [data-theme="dark"] {
    --bg-color: rgb(24, 24, 24);
    --font-color: #fff;
    --days-color: rgb(173, 173, 173);
    --days-past: rgb(71, 71, 71);
    --today-color: coral;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color:var(--bg-color);
} 

.container .days-of-year {
    position: absolute;
    font-size: 14px;
    cursor: default;
    transform-origin: center left;
    font-weight: 400;
    color: var(--days-color);
    display: flex;
}

.days-of-year:hover > .day-mark {
    background-color: #F57F17 !important;
    height: 2px;
}

.day {
    padding-left: 16px;
    position: relative;
    height: 8px;
    transform: translateY(-16px);
}

.day-mark {
    width: 4px;
    height: 1px;
    background-color: var(--font-color);
    position: relative;
}

.first-day-month > .day-mark {
  background-color: var(--font-color);
  width: 8px;
  height: 1px;
}

.year-wrapper {
    font-size: 200px;
    position: absolute;
    font-weight: 100;
    transform: translateX(-200px) translateY(-150px);
    color: var(--font-color);
}

.today-wrapper {
    position: absolute;
    font-weight: 300;
    color: var(--font-color);
}

.is-today {
    color: var(--font-color) !important;
    font-size: 16px !important;
    margin-left: -20px;
}

.is-today:before {
    background-color: var(--today-color);
    height: 2px;
}

.is-past > .day-mark {
    color: var(--days-past) !important;
    background-color: var(--days-past);
}

.is-past > .day {
  color: var(--days-past) !important;
}

.month {
    position: absolute;
    font-size: 10px;
    cursor: default;
    transform-origin: center left;
    font-weight: 400;
    color: var(--days-color);
    text-transform: uppercase;
}



/******* Theme Switcher ***********/

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 16px 32px;
  }
  
    .theme-switch {
      display: inline-block;
      height: 20px;
      position: relative;
      width: 40px;
    }
    
    .theme-switch input {
      display:none;
    }

  [data-theme="light"] .switch-theme-btn {
      background: url(img/sun-icon.svg) no-repeat top left;
      background-size: contain;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }

    [data-theme="dark"] .switch-theme-btn {
      background: url(img/moon-icon.svg) no-repeat top left;
      background-size: contain;
      width: 22px;
      height: 22px;
      cursor: pointer;
    }